@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");
:root {
  /*Colores Hex*/
  --color_light_1: #9dcaef;
  --color_light_2: #6dace1;
  --color_primario: #4994d2;
  --color_dark_1: #297dc2;
  --color_dark_2: #0a65b0;
  /*Colores RGBa*/
  --color_light_1_rgba: rgba(157, 202, 239, 1);
  --color_light_2_rgba: rgba(109, 172, 225, 1);
  --color_primario_rgba: rgba(73, 148, 210, 1);
  --color_dark_1_rgba: rgba(41, 125, 194, 1);
  --color_dark2_rgba: rgba(10, 101, 176, 1);
  /*Otros colores*/
  --color_secundario: #252525;
  --color_negro: #000;
  --color_blanco: #fff;
  /*Tamaños*/
  --ancho_maximo: 1200px;
  --padding_izquierda_derecha: 20px;
  --padding_arriba_abajo: 100px;
  --altura_header: 60px;
  /* Tamaños de fuentes */
  --titulo_h1: clamp(1rem, 7vw, 2.6rem);
  --titulos_h2: clamp(1.2rem, 5.6vw, 2rem);
  --subtitulo_seccion_principal: clamp(1.1rem, 2vw, 1.5rem);
  --parrafo_seccion_principal: clamp(0.6rem, 2.3vw, 1.1rem);
  --parrafo_secciones: clamp(1.2rem, 2.5vw, 1.4rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  display: grid;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  transition: .5s;
}

.header:hover::after{
  left: 100%;

}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

/*seccion inicio*/
main {
  display: grid;
}


/*hero seccion*/
.inicio {
  height: 600px;
  background-image: url("../img/2-pc-1024/dormitorio-001.webp");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  
  background-color: #4994d2;
}

.inicio::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
  
}

.inicio h1 {
  font-size: 7rem;
  color: #fff;
  text-align: left;
  padding-top: 200px;
  padding-left: 6%;
  text-shadow: 0 0 10px #00000070;

}

.inicio h2 {
  font-size: 3rem;
  color: #fff;
  text-align: left;
  padding-left: 6%;
  text-shadow: 0 0 10px #00000070;
}

/*cuerpos*/
.cuerpos {
  display: grid;
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

/*seccion servicios*/
.servicios {
  display: grid;
  max-width: 100%;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--color_light_2);
}
.servicios h2 {
  font-size: var(--titulos_h2);
}

.servicios h3 {
  padding-top: 3%;
  font-size: var(--subtitulo_seccion_principal);
}

.servicios p {
  padding-top: 2%;
  font-size: var(--parrafo_seccion_principal);
}

.servicios-article {
  display: grid;
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
  grid-template-columns: repeat(2, 50%);
}

.card-service {
  display: grid;
  max-width: 90%;
  padding-top: 15%;
  padding-bottom: 15%;
}

.foto-servicios {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.foto-servicios img {
  max-width: 90%;
  border-radius: 5%;
}

/*Productos Destacados*/
.productos {
  display: flex;
  flex-direction: column;
  background-color: var(--color_blanco);
  max-width: 100%;
  margin: 0;
  padding-top: 7%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.cuerpo-productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cuerpo-productos h2 {
  font-size: var(--titulos_h2);
}

.cuerpo-productos p {
  text-align: center;
  font-size: var(--parrafo_secciones);
  padding: 2% 0;
}

.grupo-cards {
  display: grid;
  max-width: 100%;
  margin: 2%;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.producto-card {
  max-width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color_light_1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  border-radius: 1rem;
  overflow: hidden;
}
.producto-card {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  max-width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.producto-card picture img { 
  max-height: 50%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.producto-card h3 {
  font-size: 1.5rem;
}

.producto-card p {
  font-size: 1.1rem;
  padding: 2% 10%;


}


  
/* Responsive breakpoint*/

/*pc*/
@media (max-width: 992px) {
  .header{
    padding: 1.3rem 5%;
  }
}




/*Tablet / Celulares*/
@media (max-width: 768px) {
  .icons{
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
  }



  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }

  #empresa {
    font-size: 5rem;
  }
  #eslogan {
    padding-top: 1rem;
    font-size: 2.5rem;
  }


.servicios {
    height: 100%;	
    padding-bottom: 5%;
  }
  
.servicios-article {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
  grid-template-columns: repeat(1, 100%);
  }

  .card-service {
    padding-bottom: 1rem;
  }

.card-s {
  display: flex;
  flex-direction: column;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0;
}

.card-s h3 {
  font-size: var(--subtitulo_seccion_principal);
}

.card-s p {
  font-size: 1.2rem;
}

.img-servicios {
  /*autocentrado*/
  display: flex;
  justify-self: center;
}

.grupo-cards {
  display: grid;
  max-width: 100%;
  margin: 4%;
  padding: 0;
  grid-template-columns: 1fr;
}

}
