@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
:root {
    /*Colores Hex*/
    --color_light_1:#9DCAEF;
    --color_light_2:#6DACE1;
    --color_primario: #4994D2;
    --color_dark_1:#297DC2;
    --color_dark_2:#0A65B0;
    /*Colores RGBa*/
    --color_light_1_rgba: rgba(157, 202, 239, 1);
    --color_light_2_rgba: rgba(109, 172, 225, 1);
    --color_primario_rgba: rgba(73, 148, 210, 1);
    --color_dark_1_rgba: rgba(41, 125, 194, 1);
    --color_dark2_rgba: rgba( 10,101,176,1);
    /*Otros colores*/
    --color_secundario: #252525;
    --color_negro: #000;
    --color_blanco: #fff;
    /*Tamaños*/
    --ancho_maximo: 1100px;
    --padding_izquierda_derecha: 20px;
    --padding_arriba_abajo: 100px;
    --altura_header: 60px;
    /* Tamaños de fuentes */
    --titulo_h1: clamp(1rem, 7vw, 2.6rem);
    --titulos_h2: clamp(1.2rem, 5.6vw, 2rem);
    --subtitulo_seccion_principal: clamp(1.1rem, 4vw, 2rem);
    --parrafo_seccion_principal: clamp(0.6rem, 2.3vw, 1.1rem);
    --parrafo_secciones: clamp(1.2rem, 2.5vw, 1.4rem);
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    scroll-behavior: auto; /* Fallback para navegadores que no admiten scroll-behavior */
    }

body{
    
    font-family: raleway, sans-serif;
    
    display: grid;
    grid-template-rows: auto; /* Definir filas para header, main y footer */
    min-height: auto  /*Asegurar que el body ocupe al menos la altura de la ventana */
}




/**header seccion**/
header{
    text-align: center;
    background-color: orange;
    min-height: 30px;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: fixed;
    top: 7px;
    width: 100%;
    z-index: 1000
}
#logo {
    text-align: left;
    background-color: red;
    padding-left: 4%;

}
#navbar{
    background-color: #0A65B0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
    
}



/**primer seccion**/
main{
    background-color: lightcoral;
    min-height: 800px;
    grid-row: 2;
}
#cuerpo-uno {
    position: relative;
    background-color: var(--color_blanco);
    min-height: 615px;
    
}
#cuerpo-uno{
    justify-content: center;
    align-items: center;
}
#empresa {
    background-color: darkgreen;
    padding-top: 40px;
    font-size: 5rem;
    padding-top: 15%;
    margin-left: 4%;
    animation: animacionEmpresa 1s ease-out;
}
@keyframes animacionEmpresa {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
#eslogan {
    background-color: darksalmon;
    padding-top: 4%;
    margin-left: 8%;
    animation: animacionEslogan 2s ease-out;
}
@keyframes animacionEslogan {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
#parrafo-bienvenida {
    font-size: 1rem;
    padding-top: 10%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    animation: aparecerDesdeAbajo 4s ease-out;
}
@keyframes aparecerDesdeAbajo {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.card-s{
    margin-bottom: 4%;
}
.card-s p {
    text-align: justify;
    
}





/**segunda seccion**/
#cuerpo-dos {
    background-color: var(--color_dark_2);
    min-height: 615px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
#card-service{
    height: 450px;
    background-color: darkcyan;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#titulo-sevicios{
    background-color: blueviolet;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10%;
}
#foto-servicios{
    background-color: bisque;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 10%;
    
}
#img-cocinab{
    width: 100%;border-radius: 10%;
}





/**tercera seccion**/
#cuerpo-tres {
    background-color: var(--color_blanco);
    min-height: 615px;
    display: grid;
    grid-template-rows: 25% 1fr;
}
#productos-titulo{
    background-color: darkgoldenrod;
}
#productos-titulo h2{
    background-color: darkkhaki;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    font-size: 2.5rem;
}
#productos-titulo p{
    background-color: darkcyan;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 1.3rem;
    text-align: center;
}
#productos-cards{
    background-color: darkolivegreen;
    padding: 2% 4% 2% 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.producto-card{
    text-align: center;
    background-color: darkslategray;
    margin: 4%;
    border-radius: 15%;
    display: grid;
    grid-template-rows: 44% 15% 40%;
}
#productos-cards picture {
    background-color: aqua;
}
.producto-card h3{
    background-color: blanchedalmond;
    margin-top: 5%;
}
.producto-card p{
    background-color: lightpink;
    margin-top: 2%;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}




/**cuarta seccion**/
#cuerpo-cuatro {
    background-color: var(--color_dark_2);
    min-height: 615px;
    display: grid;
    grid-template-rows: 25% 1fr;
}
#cuerpo-cuatro h2{
    background-color: lightgrey;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    font-size: 3rem;
    padding-top: 4%;
}
#testimonios-parrafos{
    background-color: #9DCAEF;
    margin: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#testimonios-parrafos div{
    background-color: chocolate;
    margin: 3%;
    display: grid;
    grid-template-rows: 50% 1fr;
}
.testimonios picture{
    background-color: lightslategray;
    align-self: center;
    justify-self: center;
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

#testimonios-parrafos p{
    background-color: darkolivegreen;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
}



/**quinta seccion**/
#cuerpo-cinco {
    background-color: var(--color_blanco);
    min-height: 615px;
    display: grid;
    grid-template-rows: 25% 1fr;
}
#cuerpo-cinco h2{
    font-size: 3rem;
    background-color: lightpink;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    padding-top: 4%;
}
#consejos-grupo{
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4%;
}
.consejo{
    background-color: darkgoldenrod;
    margin-left: 4%;
    margin-right: 4%;
    display: grid;
    grid-template-rows: 35% 10% 1fr;
}

.consejo picture{
    background-color: lightblue;
    align-self: center;
    justify-self: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.consejo h3{
    text-align: center;
    font-size: 1.5rem;
    padding: 2%;
}
.consejo p{
    text-align: justify;
    padding: 6%;
}



/**sexta seccion**/
#cuerpo-seis {
    background-color: var(--color_dark_2);
    min-height: 615px;
    display: grid;
    grid-template-rows: 25% 1fr;
}
#cuerpo-seis h2{
    background-color: beige;
    margin: 4%;
    padding: 4%;
    text-align: center;
    font-size: 2.5rem;
    place-items: center;
}
#cuerpo-seis p{
    background-color: pink;
    margin: 4%;
    padding: 2%;
    text-align: center;
    font-size: 2rem;
    
}



/**septima seccion**/
#cuerpo-siete {
    background-color: var(--color_blanco);
    min-height: 615px;
    display: grid;
} 
#cuerpo-siete h2 {
    background-color: lightgreen;
    margin: 4%;
    padding: 4%;
    text-align: center;
    font-size: 2.5rem;
    place-items: center;

}
#call{
    background-color: cadetblue;
    margin: 1% 4% 4% 4%;
    padding: 1%;
    text-align: center;
    font-size: 2rem;
}





/**footer seccion**/
footer{
    background-color: lightpink;
    min-height: 100px;
    grid-row: 3;
    place-items: center;
}

