@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
:root {
    /*Colores Hex*/
    --color_light_1:#9DCAEF;
    --color_light_2:#6DACE1;
    --color_primario: #4994D2;
    --color_dark_1:#297DC2;
    --color_dark_2:#0A65B0;
    /*Colores RGBa*/
    --color_light_1_rgba: rgba(157, 202, 239, 1);
    --color_light_2_rgba: rgba(109, 172, 225, 1);
    --color_primario_rgba: rgba(73, 148, 210, 1);
    --color_dark_1_rgba: rgba(41, 125, 194, 1);
    --color_dark2_rgba: rgba( 10,101,176,1);
    /*Otros colores*/
    --color_secundario: #252525;
    --color_negro: #000;
    --color_blanco: #fff;
    /*Tamaños*/
    --ancho_maximo: 1100px;
    --padding_izquierda_derecha: 20px;
    --padding_arriba_abajo: 100px;
    --altura_header: 60px;
    /* Tamaños de fuentes */
    --titulo_h1: clamp(1rem, 7vw, 2.6rem);
    --titulos_h2: clamp(1.2rem, 5.6vw, 2rem);
    --subtitulo_seccion_principal: clamp(1.1rem, 4vw, 2rem);
    --parrafo_seccion_principal: clamp(0.6rem, 2.3vw, 1.1rem);
    --parrafo_secciones: clamp(1.2rem, 2.5vw, 1.4rem);
}
* {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background-color: red;
}

/*carrusel*/
.seccion-uno{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 610px;
    background-image: url(../img/1e-cocina001.jpg);
    /* background-color: rgba(0, 0, 0, 1); */
    background-size: cover;
    animation: animate 10s infinite;

}
.seccion-uno::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
#bienvenida {
    position: relative;
    color: var(--color_blanco);
    font-size: 4rem;
    /*border: 2px solid #000;*/
    margin-top: 15%;
    margin-left: 5%;
    
}
#slogan{
    position: relative;
    color: var(--color_blanco);
    font-size: 2rem;
    /*border: 2px solid #000;*/
    margin-top: 5%;
    margin-left: 10%;
}
#parrafo-bienvenida{
    position: relative;
    color: var(--color_blanco);
    font-size: 1.5rem;
    /*border: 2px solid #000;*/
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    justify-content: center;
}

@keyframes animate {
    20%{
        background-image: url(../img/1e-cocina002.jpg);
        background-size: cover;
    }
    40%{
        background-image: url(../img/1e-dormitorio004.jpg);
        background-size: cover;
    }
    60%{
        background-image: url(../img/1e-sala001.jpg);
        background-size: cover;
    }
    80%{
        background-image: url(../img/1e-living001.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(../img/1e-cocina001.jpg);
        background-size: cover;
    }
}

/*.seccion-dos{
    position: relative;
}
.seccion-tres{
    position: relative;
}
.seccion-cuatro{
    position: relative;
}
.seccion-cinco{
    position: relative;
}
.seccion-seis{
    position: relative;
}
.seccion-siete{
    position: relative;
}
*/

#cuerpo-uno {
    /*background-color: var(--color_blanco);*/
}

#cuerpo-dos {
    background-color: var(--color_dark_2);
}
#cuerpo-tres {
    background-color: var(--color_blanco);
}

#cuerpo-cuatro {
    background-color: var(--color_dark_2);
}

#cuerpo-cinco {
    background-color: var(--color_blanco);
}

#cuerpo-seis {
    background-color: var(--color_dark_2);
}

#cuerpo-siete {
    background-color: var(--color_blanco);
}
